{{ define "main" }}
<div class="main_section_1">
    <div class="profile_button profile_main">
        <span class="circle-image">
            <img src="\static\img\avatar.png">
        </span>

    </div>
    <div class="main_nickname">
        <a>Dr.{{.UserSurname}} {{.UserName}}</a>
    </div>
    <button class="green-button" id="addButton">Добавить пациента</button>
</div>
<div class="main_section_2">
    {{ range .Patients }}
    <div class="container">
        <div class="profile-pic">
          <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Profile Picture">
        </div>
        <h3>{{ .Name }} {{ .Surname }}</h2>
        <p>{{ .Disease }}</p>
        <button class="button-blue">Перейти</button>
    </div>
    {{ end }}
    <script>document.getElementById('addButton').addEventListener('click', function () {
            window.location.href = '/add-patient';
        });</script>
    {{ end }}