
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ define "patient-table" }}
    <title>Data Table</title>
    <style>
       
    </style>
</head>

<body>

    <table>
        <thead>
            <tr>
                <th>Пациент</th>
                <th>Доктор</th>
                <th>Заболевание</th>
                <th>Количество очков</th>
                <th>Дата</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Patients }}
            <tr>
                <td>{{ .Name }} {{ .Surname }}</td>
                <td>{{ .AttendingDoctor }}</td>
                <td>{{ .Disease }}</td>
                <td>1</td>
                <td>{{ .AdmissionTime}}</td>
                <td class="actions">
                    <button class="edit">✎</button>
                    <button class="details">...</button>
                    <button class="delete">🗑</button>
                </td>
            </tr>
            {{ end }}
            <tr>
                
        </tbody>

    </table>
    <div class="download-buttons"> <button>CSV</button> <button>Excel</button> <button>PDF</button> </div>
</body>
{{ end }}

